@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
}

.nav-list {
  width: 50%;
  list-style: none;
  background-color: black;
  display: flex;
  align-items: center;
}

.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 80%;
  border-radius: 50px;
  color: white;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}

.nav-list li {
  list-style: none;
  padding: 26px 30px;
  font-size: 20px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-style: normal;
}
.nav-list li a:hover {
  text-decoration: none;
  color: gray;
}

.rightNav {
  width: 50%;
  text-align-last: right;
  padding: 0 23px;
}

#search {
  padding: 5px;
  font-size: 17px;
  border: 2px solid gray;
  border-radius: 9px;
}
.background {
  background: url(./../background\ new\ pic.jpg);
  background-size: cover;
  background-blend-mode: darken;
  height: 800px;
}
.first section {
  height: 100vh;
}
.box.main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 50%;
  margin: auto;
  height: 80%;
}

.firsthalf {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: medium;
}

.secondhalf {
  width: 30%;
  font-size: 25px;
  color: beige;
}
.secondhalf img {
  width: 70%;
  border: 4px solid beige;
  border-radius: 5px;
  display: block;
  margin: auto;
}
.text.big {
  font-size: 40px;
  font-family: "Ubuntu", sans-serif;
  padding: 5px;
  font-weight: bold;
  color: brown;
}
.text.small {
  font-size: 18px;
  color: black;
  padding: 25px;
}
.btn {
  padding: 8px 20px;
  margin: 25px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: bisque;
  color: solid white;
  cursor: pointer;
}
.btn.sm {
  padding: 6px 10px;
  vertical-align: middle;
  background-color: black;
  font-size: 16px;
}
.navbar {
  background-color: black;
}
.section {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 80%;
  margin: auto;
  font-family: "Ubuntu", sans-serif;
  padding: 77px;
}

.paras {
  padding: 8px 65px;
  font-family: "Ubuntu", sans-serif;
  padding: 77px;
}
.thumbnail3 img {
  width: 250px;
  border: 2px solid black;
  border-radius: 26px;
  margin-top: 100px;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
}
.thumbnail2 img {
  width: 250px;
  border: 2px solid black;
  border-radius: 26px;
  margin-top: 19px;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
}

.contact {
  background-color: #ded7d7;
  height: 50vh;
}
.text.center {
  text-align: center;
}
.text.big {
  color: #482f28;
  flex-direction: column;
  justify-content: center;
  size: 5px;
  cursor: pointer;
}
.parent_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.parent_container li {
  list-style: none;
  size: 20px;
}

.child_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.parent_container {
  background-color: #f6f5f4;
  height: 34vh;
  padding: 10px;
}
.child_container {
  margin: 30px 0;
}
.box.main {
  margin: 8px;
  color: black;
  padding: 96px;
  justify-content: center;
}
.form input {
  display: flex;
  justify-content: left;
  border: 2px solid gray;
  border-radius: 6px;
  flex-direction: column;
  padding: 2px 0px;
  cursor: pointer;
  width: auto;
  margin: 10px;
}

.btn2 {
  background-color: rgb(198, 195, 195);
  border: 2px solid gray;
  border-radius: 6px;
  color: solid black;
  cursor: pointer;
  margin: 25px;
}
.text.big2 {
  font-size: 30px;
  color: #966e62;
  font: bold;
}
.text.big3 {
  font-size: 30px;
  color: #966e62;
  font: bold;
}
.text.big4 {
  font-size: 30px;
  color: #966e62;
  font: bold;
}
.thumbnail1 {
  align-items: flex-end;
  margin-left: 1000px;
  width: 250px;
  margin-top: 19px;
  justify-content: space-between;
  align-items: center;
}
