@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cairo:wght@700&family=JetBrains+Mono&family=Kanit:wght@300&family=Lato:wght@300&family=Oswald&family=Roboto&family=Roboto+Condensed&family=Roboto+Slab&family=Rubik&display=swap");

@import url(./CSS/Nav.css);
@import url(./CSS/Header.css);
@import url(./CSS/SigningUp.css);
@import url(./CSS/About.css);
@import url(./CSS/Services.css);
@import url(./CSS/Product.css);
@import url(./CSS/Shopping.css);
@import url(./CSS/Footer.css);

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #dff3e4;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
