@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cairo:wght@700&family=JetBrains+Mono&family=Lato:wght@300&family=Oswald&family=Roboto&family=Roboto+Condensed&family=Roboto+Slab&display=swap");

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 50px;
  z-index: 1;
  position: fixed;
}

.nav_logo {
  margin-left: 2vw;
  color: white;
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 900;
}

.nav_middle_button_close,
.nav_middle_button_open {
  display: none;
}

.nav_middle ul li {
  list-style: none;
  margin: 0 5vw;
  color: white;
  /* color: #acacac; */
  font-family: "Cairo";
  font-style: normal;
  cursor: pointer;
}

#sign_up_container {
  margin: 0 2vw 0 5vw;
}

#sign_up {
  width: 60px;
  border-radius: 6px;
  padding: 0 6px;
  font-family: "Cairo";
  cursor: pointer;
}

#signed_up {
  position: absolute;
  color: white;
  font-size: 1rem;
  font-family: "Archivo Black";
  font-weight: 100;
  top: 100px;
}

header {
  height: 660px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  justify-content: center;
}

header img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 700px;
  top: -40px;
  z-index: -1;
}

header .text {
  flex-direction: column;
  width: 80vw;
  text-align: center;
  height: 400px;
}

header .text_heading {
  margin-top: 200px;
  margin-bottom: 40px;
  font-size: 2rem;
  font-family: sans-serif;
  transition: all 1s;
}

header .text_description {
  font-size: 1.3rem;
  font-family: "JetBrains Mono", monospace;
}

#shopping_cart_button {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background-color: white;
  border-radius: 0.4rem;
  padding: 0.2rem;
  width: 2.7rem;
  height: 2.7rem;
}

#shopping_cart_button svg {
  width: 2.5rem;
}

#shopping_cart {
  position: fixed;
  width: 90vw;
  height: 90vh;
  top: 5vh;
  left: 5vw;
  background-color: rgb(0, 0, 0);
  z-index: 1;
  border-radius: 0.4rem;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
}

#shopping_cart_close {
  position: fixed;
  top: 5vh;
  left: 5vw;
  z-index: 2;
  display: none;
}

#shopping_cart h2 {
  font-family: "Archivo Black";
  font-size: 2rem;
  margin: 1rem 0;
  color: white;
}

#product_list_render {
  /* padding-top: 20rem; */
  justify-content: flex-start;
  margin-top: 1rem;
  width: 100%;
  overflow: auto;
  height: 70vh;
  flex-direction: column;
}

#product_list_render li {
  width: 80%;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#product_list_render .product_remove_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#product_list_render .product_remove_container .product_remove{
  margin-top: 0.5rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
}

#product_list_render li img {
  object-fit: cover;
  height: 6rem;
  width: 9rem;
  border-radius: 0.9rem;
}
#product_list_render li .details {
  margin-left: 1rem;
}

#product_list_render li h5 {
  font-family: "Archivo Black";
  font-size: 1rem;
}

#product_list_render li .amount_title {
  font-family: "JetBrains Mono";
  font-size: 1rem;
}

#product_render_template {
  display: none;
}

#product_template {
  display: none;
}

#shopping_cart .total_buy {
  position: fixed;
  bottom: 7.5vh;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5vh;
  border-top: 1px solid white;
}

#shopping_cart .total_buy .total_amount {
  font-family: "Archivo Black";
}

#shopping_cart .total_buy .buy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "JetBrains Mono";
  font-size: 1.2rem;
}

#shopping_cart .total_buy .buy .total_amount_rate {
}

#shopping_cart .total_buy .buy button {
  padding: 0.2rem;
  border-radius: 0.3rem;
  margin-left: 2rem;
  font-family: "JetBrains Mono";
  font-weight: 900;
}

@keyframes fadeout {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes fadein {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@keyframes textHeading {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 200px;
  }
}

.textHeading {
  animation-name: textHeading;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.fadeout {
  animation-name: fadeout;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.fadein {
  animation-name: fadein;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

#sign_up_template form {
  width: 100vw;
  flex-direction: column;
  font-size: 1rem;
  padding-top: 100px;
}

#sign_up_template form ul li {
  width: 70vw;
  margin-bottom: 15px;
  list-style: none;
}

#sign_up_template form ul li label {
  font-size: 1.2rem;
  font-family: "Archivo Black";
}

#sign_up_template form ul li input {
  /* font-family: 'Oswald';
    transform: scaleX(1.3); */
  font-size: 1.2rem;
  padding: 0 5px;
}

#sign_up_template form button {
  padding: 4px;
  border-radius: 6px;
  cursor: pointer;
}

#about_container {
  flex-direction: column;
}

.about_top {
  flex-direction: column;
  width: 80%;
  margin-top: 30px;
}

.about_top_heading {
  font-family: "Archivo Black";
  font-size: 2rem;
}

.about_top_description {
  font-family: "Cairo";
  font-size: 1.3rem;
  text-align: center;
  margin-top: 10px;
}

.about_bottom {
  margin-top: 20px;
}

.about_bottom_item_container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 2vw;
}

.about_bottom_item {
  width: 30vw;
  flex-direction: column;
  margin-bottom: 30px;
}

.about_bottom_item img {
  width: 10rem;
  margin-bottom: 15px;
}

.about_bottom_item h5 {
  margin-bottom: 10px;
  font-family: "Archivo Black";
  font-size: 1.5rem;
}

.about_bottom_item p {
  text-align: center;
  font-family: "Cairo";
  font-size: 1rem;
}

#services_container {
  height: 800px;
  background-color: rgba(0, 0, 0, 0.5);
}

.services_background img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 800px;
  z-index: -1;
}

.services_top {
  color: white;
  flex-direction: column;
  padding-top: 30px;
}

.services_top h3 {
  font-family: "Archivo Black";
  font-size: 2rem;
}

.services_top p {
  font-family: "Cairo";
  font-size: 1.3rem;
  text-align: center;
  margin-top: 10px;
}

.services_bottom {
  margin-left: 25vw;
  margin-top: 8rem;
}

.services_bottom ul {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 4rem;
}

.services_bottom ul li {
  background-color: rgba(255, 255, 255, 0.95);
  width: 12rem;
  height: 12rem;
  flex-direction: column;
  border-radius: 10px;
}

.services_bottom ul li img {
  width: 7.5rem;
}

.services_bottom ul li p {
  text-align: center;
  font-family: "Cairo";
  font-size: 1rem;
}

#products_container {
  background-color: white;
  padding-bottom: 50px;
}

.products_top {
  color: black;
  flex-direction: column;
  padding-top: 30px;
}

.products_top h3 {
  font-family: "Archivo Black";
  font-size: 2rem;
}

.products_top p {
  font-family: "Cairo";
  font-size: 1.3rem;
  text-align: center;
  margin-top: 10px;
}

.products_bottom {
  margin-top: 8rem;
}

.products_bottom ul {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 4rem;
}

.products_bottom ul li {
  background-color: rgb(22, 21, 24);
  width: 15rem;
  flex-direction: column;
  border-radius: 10px;
  color: white;
}

.products_bottom ul li img {
  object-fit: cover;
  width: 12rem;
  height: 8rem;
  border-radius: 1rem;
  margin: 1rem 0 0.5rem 0;
}

.products_bottom ul li .product_name {
  font-family: "Archivo Black";
  margin-bottom: 0.3rem;
}

.products_bottom ul li .product_price {
  font-family: "Lato";
  margin-bottom: 0.5rem;
}

.products_bottom ul li .buttons {
  margin-bottom: 1rem;
}

.products_bottom ul li .buttons button {
  background-color: #424243;
  color: white;
  padding: 0.2rem;
  border-radius: 0.3rem;
  font-family: "Cairo";
  margin: 0 1rem;
}

#added_to_cart {
  background-color: white;
  position: fixed;
  bottom: 0.5rem;
  font-family: "Archivo Black";
  color: black;
  padding: 0.3rem;
  margin: 0% auto;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

footer {
  padding: 5rem 0;
  height: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

footer .footer_child_ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: "Cairo";
}

footer .footer_child_quotes {
  flex-direction: column;
  width: 30vw;
}

footer .footer_child_quotes h4 {
  transform: scale(1.8);
  margin-bottom: 10px;
}

footer .footer_child_quotes p {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 5px;
}

footer .footer_child_li {
  list-style: none;
  color: white;
}

footer .footer_child_child_ul {
  flex-direction: column;
}

footer .footer_child_child_li {
  margin: 7px 0;
  list-style: none;
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
}

footer .footer_child_child_heading {
  font-weight: 1000;
  font-size: 0.85rem;
}

footer .footer_child_child_li a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1200px) {
  .products_bottom ul {
    grid-template-columns: auto auto auto;
    grid-gap: 4rem;
  }
}

@media screen and (max-width: 1050px) {
  .about_bottom_item_container {
    grid-template-columns: auto auto;
    grid-column-gap: 5vw;
  }

  .about_bottom_item {
    width: 40vw;
  }

  #services_container {
    height: 55rem;
  }

  .services_background img {
    height: 55rem;
  }

  .services_bottom {
    margin-top: 5rem;
  }

  .services_bottom ul {
    grid-template-columns: auto auto;
    grid-gap: 2rem;
  }

  .products_bottom ul {
    grid-template-columns: auto auto;
    grid-gap: 4rem;
  }
}

@media screen and (max-width: 800px) {
  .nav_middle ul {
    display: none;
    width: 50vw;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 2s;
  }

  .nav_middle ul li {
    margin: 0;
    border-bottom: 1px solid white;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
  }

  #sign_up_container {
    margin: 0;
    border: 0;
  }

  .nav_middle_button_close,
  .nav_middle_button_open {
    z-index: 1;
    display: block;
    position: fixed;
    top: 1px;
    right: 2vw;
  }

  .nav_middle ul {
    flex-direction: column;
  }

  .services_bottom {
    margin-left: 20vw;
  }

  footer .footer_child_quotes h4 {
    font-size: 1rem;
  }

  footer .footer_child_quotes p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  #sign_up_template form ul li label {
    font-size: 0.8rem;
  }

  #sign_up_template form ul li input {
    width: 40vw;
    font-size: 00.8rem;
  }

  .about_bottom_item_container {
    grid-template-columns: auto;
  }

  .about_bottom_item {
    width: 80vw;
  }

  #services_container {
    height: 100rem;
  }

  .services_background img {
    height: 100rem;
  }

  .services_bottom {
    margin-top: 5rem;
  }

  .services_bottom ul {
    grid-template-columns: auto;
  }

  .products_bottom ul {
    grid-template-columns: auto;
    grid-gap: 2rem;
  }

  footer .footer_child_quotes h4 {
    font-size: 0.6rem;
  }

  footer .footer_child_quotes p {
    font-size: 0.6rem;
  }
}
