footer {
  padding: 2.5rem 0;
  height: auto;
  background-color: var(--footer-background);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .footer_child_ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Cairo";
  width: 40vw;
}


footer .footer_child_li {
  list-style: none;
  color: var(--footer-link-heading);
}

footer .footer_child_child_ul {
  flex-direction: column;
}

footer .footer_child_child_li {
  margin: 7px 0;
  list-style: none;
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  font-weight: 900;
}

footer .footer_child_child_heading {
  font-weight: 1000;
  font-size: 0.9rem;
}

footer .footer_child_child_li a {
  text-decoration: none;
  font-weight: 600;
  color: var(--footer-link);
}

@media screen and (max-width: 800px) {
footer{
  flex-direction: column-reverse;
  align-items: center;
}
  footer .footer_child_quotes h4 {
    font-size: 1rem;
  }


  footer .footer_child_ul {
justify-content: space-between;    
margin-bottom: 2rem;
  }

  footer .footer_child_quotes p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  footer .footer_child_quotes h4 {
    font-size: 0.6rem;
  }

  footer .footer_child_quotes p {
    font-size: 0.6rem;
  }
}
