footer {
  padding: 5rem 0;
  height: auto;
  background-color: var(--footer-background);
}

footer .footer_child_ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Cairo";
}

footer .footer_child_quotes {
  flex-direction: column;
  width: 30vw;
}

footer .footer_child_quotes h4 {
  transform: scale(1.8);
  margin-bottom: 10px;
  color: var(--footer-quotes-heading);
}

footer .footer_child_quotes p {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 5px;
  color: var(--footer-quotes-description);
}

footer .footer_child_li {
  list-style: none;
  color: var(--footer-link-heading);
}

footer .footer_child_child_ul {
  flex-direction: column;
}

footer .footer_child_child_li {
  margin: 7px 0;
  list-style: none;
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
}

footer .footer_child_child_heading {
  font-weight: 1000;
  font-size: 0.85rem;
}

footer .footer_child_child_li a {
  text-decoration: none;
  color: var(--footer-link);
}

@media screen and (max-width: 800px) {
  footer .footer_child_quotes h4 {
    font-size: 1rem;
  }

  footer .footer_child_quotes p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  footer .footer_child_quotes h4 {
    font-size: 0.6rem;
  }

  footer .footer_child_quotes p {
    font-size: 0.6rem;
  }
}
