#mode {
  position: fixed;
  right: -0.3rem;
  background-color: white;
  top: 20rem;
  padding: 0.2rem 0.8rem 0.2rem 0.2rem;
  border-radius: 0.3rem;
  transition: all 0.25s ease-out;
}

#dark_mode {
  display: none;
  transition: all 0.25s ease-out;
  transform: scale(0.8);
}

#light_mode {
  transition: all 0.25s ease-out;
  transform: scale(0.8);
}
