nav {
  transition: all 0.5s;
  width: 100%;
  height: 50px;
  z-index: 1;
  position: fixed;
}

.nav_logo {
  margin-left: 2vw;
  color:var(--logo);
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 900;
}

.nav_middle_button_close,
.nav_middle_button_open {
  display: none;
}

.nav_middle ul li {
  list-style: none;
  margin: 0 5vw;
  /* color: #ff8600; */
  color: var(--nav-el-color);
  /* color: #acacac; */
  font-family: "Cairo";
  font-style: normal;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .nav_middle ul {
    display: none;
    width: 50vw;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--nav-el-background);
    transition: all 2s;
    box-shadow: -5px 5px 20px black;
  }

  .nav_middle ul li {
    margin: 0;
    border-bottom: 1px solid var(--nav-border);
    color: var(--nav-el-color);
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
  }

  .nav_middle_button_close,
  .nav_middle_button_open {
    z-index: 1;
    display: block;
    position: fixed;
    top: 1px;
    right: 2vw;
  }

  .nav_middle ul {
    flex-direction: column;
  }
}
