#shopping_cart_button {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background-color: #131c26;
  border-radius: 0.4rem;
  padding: 0.2rem;
  width: 2.7rem;
  height: 2.7rem;
}

#shopping_cart_button svg {
  width: 2.5rem;
}

#shopping_cart {
  position: fixed;
  width: 90vw;
  height: 90vh;
  top: 5vh;
  left: 5vw;
  background-color: rgb(32, 44, 57);
  z-index: 1;
  border-radius: 0.4rem;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  color: rgb(223, 243, 228);
}

#shopping_cart_close {
  position: fixed;
  top: 5vh;
  left: 5vw;
  z-index: 2;
  display: none;
}

#shopping_cart h2 {
  font-family: "Archivo Black";
  font-size: 2rem;
  margin: 1rem 0;
  color: white;
}

#product_list_render {
  /* padding-top: 20rem; */
  justify-content: flex-start;
  margin-top: 1rem;
  width: 100%;
  overflow: auto;
  height: 70vh;
  flex-direction: column;
}

#product_list_render li {
  width: 80%;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#product_list_render .product_remove_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#product_list_render .product_remove_container .product_remove {
  margin-top: 0.5rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
}

#product_list_render li img {
  object-fit: cover;
  height: 6rem;
  width: 9rem;
  border-radius: 0.9rem;
}
#product_list_render li .details {
  margin-left: 1rem;
}

#product_list_render li h5 {
  font-family: "Kanit";
  transform: scaleX(1.1);
  font-size: 1rem;
}

#product_list_render li .amount_title {
  font-family: "JetBrains Mono";
  font-size: 1rem;
}

#product_render_template {
  display: none;
}

#product_template {
  display: none;
}

#shopping_cart .total_buy {
  position: fixed;
  bottom: 7.5vh;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5vh;
  border-top: 1px solid white;
}

#shopping_cart .total_buy .total_amount {
  font-family: "Rubik", sans-serif;
}

#shopping_cart .total_buy .buy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "JetBrains Mono";
  font-size: 1.2rem;
}

/* #shopping_cart .total_buy .buy .total_amount_rate {
  }
   */
#shopping_cart .total_buy .buy button {
  padding: 0.2rem;
  border-radius: 0.3rem;
  margin-left: 2rem;
  font-family: "JetBrains Mono";
  font-weight: 900;
}

#added_to_cart {
  background-color: white;
  position: fixed;
  bottom: 0.5rem;
  font-family: "Archivo Black";
  color: black;
  padding: 0.3rem;
  margin: 0% auto;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
